body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-family: 'Open Sans', sans-serif !important;
	height: 100%;
	min-height: 100%;
}

a {
	color: #b20000;
}

.btn-primary {
	background-color: #b20000;
	border-color: #9a0000;
}

.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover {
	background-color: #b20000;
	border-color: #9a0000;
}

.navbar-brand {
	font-weight: 300;
	font-variant: small-caps;
}

.navbar a {
  color: #fff;
  font-size: 2em;
}

.navbar a strong {
  color: #b20000;
}

.nav-menu {
	font-size: 0.6em;
}

.nav-menu li a:hover {
	color: #fff;
	background-color: #b20000;
}

.navbar-white {
	background-color: #fff;
}

.navbar-white a {
	color: #000;
}

.welcome {
	background-color: #3f4c6b;
	padding-top: 120px;
	padding-bottom: 80px;
}

.contact {
	padding-top: 80px;
}

.contact h2 {
	font-weight: 600;
}

.contact form {
	font-weight: 300;
	padding-top: 25px;
}

.heading {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

.welcome .heading2 {
	color:  #fefefe;
  font-family: 'Open Sans', sans-serif;
	font-weight: 300;
  font-size: 3.5em;
  text-align: center;
  padding-top: 1.5em;
}

.welcome .heading3 {
  color: #fefefe;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-size: 2.5em;
  text-align: center;
}

.intro {
  color: #0e0e0e;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1.6em;
  padding-top: 1em;
  padding-bottom: 2em;
  line-height: 1.5em;
}

.b-btn{
	padding: 0.65em 1.3em;
	outline: none;
	border: solid 3px #fff;
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
	font-size: 22px;
	color: #fff;
  width: 8em;
  height: 2.8em;
}
.b-btn:hover{
	background: #b20000;
	color: #fff;
	border: solid 3px #b20000;
	font-weight: 600;
}

.c-btn {
	margin-bottom: 1.5em;
}

.c-btn:hover {
	background: #fefefe;
	color: #b20000;
}

.d-btn {
	background: #b20000;
	color: #fff;
	margin-top: 1em;
	font-weight: 600;
	font-size: 2em;
	border: solid 3px #b20000;
}

.d-btn:hover {
	color: #fff;
}


.features .heading {
	color:  #3f4c6b;
	font-weight: 400;
  font-size: 2.5em;
  padding-bottom: 2em;
}

.howitworks {
  background-color: #b20000;
  color: #fefefe;
  text-align: center;
}

.howitworks .heading {
	color:  #fefefe;
	font-weight: 400;
  font-size: 3em;
  padding-top: 0.5em;
  padding-bottom: 1.5em;
}

.howitworks .lead {
  padding-bottom: 1em;
}

.welcome-arrow {
	display: block;
	margin-left: auto;
	margin-right: auto;
  padding-bottom: 1em;
  padding-top: 1em;
}

.features {
	background-color: #fff;
	color: #0e0e0e;
	padding-top: 30px;
	padding-bottom: 30px;
	font-weight: 300;
}

.features-arrow {
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
}

.features .feature {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 25px;
}

.features .lead {
	font-weight: 400;
	font-size: 22px;
}

.features .soon {
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

.question {
  font-weight: 600;
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: justify;
}

.answer {
  font-weight: 300;
  font-size: 15px;
  line-height: 22px;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: justify;
}

.features img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 3em;
}

.subscribe-footer {
	background-color: #3f4c6b;
}

.footer {
	min-height: 30px;
	background-color: #3f4c6b;
}

.footer a {
	color: #ffffff;
	font-weight: 300;
	font-size: 12px;
}

.footer a:hover {
	text-decoration: none;
}

.footer-links {
	color: #fefefe;
	margin-top: 12px;
}

.footer p {
	color: #fefefe;
	text-align: center;
	margin-top: 15px;
}

.contact-footer {
	padding-top: 5em;
	min-height: 50px;
	background-color: #fff;
}

.contact-footer p {
	color: #000;
	text-align: center;
	margin-top: 15px;
}

.signup-btn {
	padding-top: 2em;
}

.currency {
	color: #b20000;
	font-size: 3em;
	font-weight: 600;
	margin-right: 0.2em;
}

.pricing {
	color: #b20000;
	font-size: 4.5em;
	font-weight: 600;
}

.pricing-details {
	font-weight: 300;
	line-height: 10px;
}

.save-subscription {
	margin-top: 1.5em;
}

.one-time-job-h {
	margin-bottom: 2em;
}

.one-time-job-p {
	line-height: 25px;
	margin-bottom: 1.5em;
}

.sep {
	height: 3px;
	border: 0;
	box-shadow: inset 0 3px 3px -3px rgba(248, 248, 248, 0.5);
}

.glyphicon-ok {
	color: #3f4c6b;
}

.glyphicon-envelope {
  font-size: 7em;
  color: #fefefe;
  text-align: center;
  padding-bottom: 0.1em;
}

.glyphicon-time {
  font-size: 7em;
  color: #fefefe;
  text-align: center;
  padding-bottom: 0.1em;
}

.glyphicon-plane {
  font-size: 7em;
  color: #fefefe;
  text-align: center;
  padding-bottom: 0.1em;
}

.navbar-toggle .icon-bar {
  background-color: #fff;
}

span.icon-bar.icon-black {
	background-color: #000;
}

.signup-ok {
	color: #55B818;
	font-size: 1em;
	padding-right: 0.5em;
}

.signup-features {
	padding-top: 2em;
	font-size: 1.2em;
	list-style: none;
	line-height: 1.6em;
}

/*
.form-control:focus {
	border-color: #fe6f6f;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(254, 128, 127, 1);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(254, 128, 127, 1);
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(254, 128, 127, 1);
}
*/

/* Newsletter Form */

.newsletter_form {
    height: 62px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: auto;
    margin-right: auto;
}

.subscribe-form {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    position: relative;
    z-index:10;
}

.subscribe-input {
    float:left;
    padding-left: 14px;
    width: 370px;
    height: 62px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:16px;
    font-weight: 300;
    color: #444;
    background: white;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    -webkit-border-top-right-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomright: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border:none;
}

.subscribe-input:focus {
    outline: 0;
}

.subscribe-submit {
    color:white;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	font-weight: 300;
	font-style: normal;
    height: 62px;
    width: 130px;
    line-height: 16px;
	text-decoration: none;
	text-align: center;
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    border: none;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomright: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10x;
    cursor: pointer;
    color: white;
    outline: 0;
}

.subscribe-submit:active {
    outline: 0;
}

.subscribe-submit:hover {
    opacity:0.9
}

.subscribe-submit,
.subscribe-submit:active {
    background-color: #b20000;
}


/*Responsive queries*/

@media all and (max-width: 767px) {
	.newsletter_form {
		height: 124px;
	}

	.subscribe-form {
		width: 300px;
		height: 124px;
	}

	.subscribe-input {
		float: none;
		width: 300px;
		-webkit-border-top-left-radius: 10px;
		-webkit-border-bottom-left-radius: 0px;
		-moz-border-radius-topleft: 10px;
		-moz-border-radius-bottomleft: 0px;
		border-top-left-radius: 10px;
		border-bottom-left-radius: 0px;
		border-top-right-radius: 10px;
		-webkit-border-top-right-radius: 10px;
		-webkit-border-bottom-right-radius: 0px;
		-moz-border-radius-topright: 10px;
		-moz-border-radius-bottomright: 0px;
	}

	.subscribe-submit {
		width: 300px;
		position: relative;
		-webkit-border-top-right-radius: 0px;
		-webkit-border-bottom-right-radius: 10px;
		-webkit-border-top-left-radius: 0px;
		-webkit-border-bottom-left-radius: 10px;
		-moz-border-radius-topright: 0px;
		-moz-border-radius-bottomright: 10px;
		-moz-border-radius-topleft: 0px;
		-moz-border-radius-bottomleft: 10px;
		border-top-right-radius: 0px;
		border-bottom-right-radius: 10x;
		border-top-left-radius: 0px;
		border-bottom-left-radius: 10px;
	}

	.features-arrow {
		display: none;
	}

	.sep-arrow {
		display: none;
	}
}

@media all and (min-width: 768px) {
	.features-arrow {
		display: block;
	}

	.sep-arrow {
		display: block;
	}
}
